!!!
%html{:lang => "ja"}
  %head
    %meta{:charset => "utf-8"}
    %title= data.page.title || "Untitled"
    %meta{:content => "width=device-width, initial-scale=1.0", |
      :name => "viewport"}                                     |
    = stylesheet_link_tag "application"
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-inner
          %button{'type' => "button", 'class' => "btn btn-navbar", |
            'data-toggle' => "collapse", 'data-target' => ".nav-collapse"} |
            %span{'class' => 'icon-bar'}
            %span{'class' => 'icon-bar'}
            %span{'class' => 'icon-bar'}
          .nav-collapse.collapse
            %ul.nav
              %li
                = link_to 'HOME', 'index.html'
              %li
                = link_to 'Web Site', 'http://aiit.ac.jp/'
              %li
                = link_to '資料請求', 'https://pr.aiit.ac.jp/wm/form/new'
    .container
      .hero-unit
        .row-fluid
          .span12
            %h2
              産業技術大学院大学
              %br
              %small Advanced Institute of Industrial Technology
        .row-fluid
          .span2
            = image_tag 'aiit_logo_200x200.gif'
          .span10
            %p
              高度な専門職人材を育成する，東京都が設置した大学院大学です．
              情報アーキテクチャ専攻と創造技術専攻の2つのプログラム．
              / 2年間の通学で専門職修士号が取得できます．
              仕事に役立つ業務遂行能力育成型の教育を通し，
              専門分野で頂点に立つ人材を育成します．
            .row-fluid
              .span3
              %a.span3.btn.btn-primary{ |
                  href: 'https://pr.aiit.ac.jp/wm/form/new'} |
                資料請求 &raquo;
              %a.span3.btn.btn-warning{ |
                  href: './guidance.html'} |
                説明会 &raquo;
              %a.span3.btn.btn-warning{ |
                  href: 'https://pr.aiit.ac.jp/wm/form/new'} |
                Web &raquo;
      = yield
      %footer
        %hr
        %p
          © Advanced Institute of Industrial Technology 2013
    .javascript
      = javascript_include_tag 'application'
      /[if lt IE 9]
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
        </script>
